<div class="gw_text">
	<%= form_for @blank, url:{action:"create"} do |wish| %>
		<div class = "large-12 columns">
			<%= wish.label :blank_wish, "Please enter your custom message below." %>
			<%= wish.text_area :blank_wish %>
		</div>
		<%= wish.submit "Submit Wish", :class => "button small gw_formButton" %>
	<% end %>
</div>