<div class="gw_errors row">
  <h2 class="gw_errorHead">
  		Just Kidding! You have <%= pluralize(@wish.errors.count, "error") %> which have prohibited this <%= @wish._type %> from being saved:
  </h2>
  <ul class="gw_errorList">
	  <% @wish.errors.full_messages.each do |msg| %>
	    <li class="gw_errorMessage"><%= msg %></li>
	  <% end %>
  </ul>
</div>
