<div class="gw_text">Your answers on this wish will fill in the following paragraph:</div>
<p class="gw_paraExa">
	<span class="gw_example">Nickname</span>,<br>
	We've known each other <span class="gw_example">Amount of Time</span> and I have always <span class="gw_example">Something Nice</span>.  Now that you are a college graduate, <span class="gw_example">Nice Advice</span>.  I wish you <span class="gw_example">A Nice Thought</span> and hope <span class="gw_example">A Nice Hope</span>.<br> 
	<span class="gw_example">Salutation</span><br>
	<span class="gw_example">Name</span><br>
	P.S. <span class="gw_example">Final Thought</span>
</p>
<%= render partial: "niceForm" %>