<div class="gw_text">Your answers on this wish will fill in the following paragraph.  You must fill in all of the blanks.</div>
<p class="gw_paraExa">
	<span class="gw_example">Nickname</span>,<br>
	It's been <span class="gw_example">Length of Time</span> that we've been <span class="gw_example">Relationship</span>.  Remember that time when <span class="gw_example">Embarassing Story</span>.  Now that you are a college graduate, I would like to tell you <span class="gw_example">Good Advice</span> but beware of <span class="gw_example">Something Bad</span>.  Good luck <span class="gw_example">Well Wish</span>!<br>
	<span class="gw_example">Saluation</span><br>
	<span class="gw_example">Your Name or Nickname</span><br>
	P.S. <span class="gw_example">Final Thought</span>
</p>
<hr>
<%= render partial: "sassyForm" %>
