<%= render partial: @nav %>
<div class="gw_body">
	<div class="gw_head">
		<h1 class="gw_title">Yay Lizzie!</h1>
		<h2 class= "gw_subtitle">Congrats on Graduating!</h2>
	</div>
	<div class="row">
		<%= render partial: "list" %>
	</div>
</div>