<%= render partial: @nav %>
<%= render partial: "shared/header" %>
<div class="gw_wishList">
	<img src="../assets/wishYouWell.png" class="gw_well">
	<div class="row">
		<%= render partial: "list" %>
	</div>
</div>
<%= render partial: "shared/footer" %>