<div class="gw_bubbleInfo">
	<div class="gw_openP">The bubbles to the left grow with the changing numbers of wishes that are input into the system.
	<ul class="gw_wishCount">
		<li>Blank Wishes: <%= @b %></li>
		<li>Sassy Wishes: <%= @s %></li>
		<li>Nice Wishes:  <%= @n %></li>
	</ul>
</div>