<ul class="example-orbit gw_listPics" data-orbit>
  <li>
    <img src="../assets/HS.jpg" alt="High School" class="gw_orbit" />
  </li>
  <li>
    <img src="../assets/grandma.jpg" alt="Grandma Aki" class="gw_orbit" />
    <div class="orbit-caption">
      Emilia, Lizzie and Grandma Aki at Sandpiper Juniors Medallion Presentation
    </div>
  </li>
  <li>
    <img src="../assets/baby.jpg" alt="Dad" class="gw_orbit" />
    <div class="orbit-caption">
      Lizzie and her Dad
    </div>
  </li>
  <li>
    <img src="../assets/photo.JPG" alt="Dad" class="gw_orbit" />
    <div class="orbit-caption">
      Lizzie and her Dad
    </div>
  </li>
  <li>
    <img src="../assets/CFunk.jpg" alt="Capital Funk" class="gw_orbit" />
    <div class="orbit-caption">
      Capital Funk
    </div>
  </li>
  <li>
    <img src="../assets/Palacios.jpg" alt="Palacios Family" class="gw_orbit" />
    <div class="orbit-caption">
      The Palacios Family
    </div>
  </li>
  <li>
    <img src="../assets/Skydiving.jpg" alt="Skydiving" class="gw_orbit" />
    <div class="orbit-caption">
      Skydiving
    </div>
  </li>
</ul>