<ul class="example-orbit gw_listPics" data-orbit>
  <li>
    <img src="../assets/HS.jpg" alt="High School" class="gw_orbit" />
  </li>
  <li>
    <img src="../assets/baby.jpg" alt="Dad" class="gw_orbit" />
    <div class="orbit-caption">
      Lizzie and her Dad
    </div>
  </li>
  <li>
    <img src="../assets/CI.jpg" alt="CI" class="gw_orbit" />
    <div class="orbit-caption">
      Colonial Inaugration
    </div>
  </li>
  <li>
    <img src="../assets/grandmas.jpg" alt="Grandmas" class="gw_orbit" />
    <div class="orbit-caption">
      Grandma Aki and Grandma Ada
    </div>
  </li>
  <li>
    <img src="../assets/Palacios.jpg" alt="Palacios Family" class="gw_orbit" />
    <div class="orbit-caption">
      The Palacios Family
    </div>
  </li>
  <li>
    <img src="../assets/princess.JPG" alt="Princess" class="gw_orbit" />
    <div class="orbit-caption">
      Lizzie, Alex and Sammy
    </div>
  </li>
  <li>
    <img src="../assets/highschoolgrad.jpg" alt="graduation" class="gw_orbit" />
    <div class="orbit-caption">
      Mira Costa Graduation
    </div>
  </li>
  <li>
    <img src="../assets/swimsuits.JPG" alt="Swimsuits" class="gw_orbit" />
    <div class="orbit-caption">
      <!-- Sammy, Siena, Lucy, Emilee, Sheridan, Alex, Malorie, Lauren? and Lizzie -->
    </div>
  </li>
  <li>
    <img src="../assets/Skydiving.jpg" alt="Skydiving" class="gw_orbit" />
    <div class="orbit-caption">
      Skydiving
    </div>
  </li>
  <li>
    <img src="../assets/jacuzzi.JPG" alt="jacuzzi" class="gw_orbit" />
    <div class="orbit-caption">
      Lizzie, Alex and Sammy
    </div>
  </li>
  <li>
    <img src="../assets/sf.jpg" alt="San Fran" class="gw_orbit" />
    <div class="orbit-caption">
      Malorie, Heather, Alex, Sammy, Carly and Lizzie in San Fransicso
    </div>
  </li>
  <li>
    <img src="../assets/grandma.jpg" alt="Grandma Aki" class="gw_orbit" />
    <div class="orbit-caption">
      Emilia, Lizzie and Grandma Aki at Sandpiper Juniors Medallion Presentation
    </div>
  </li>
  <li>
    <img src="../assets/CFunk.jpg" alt="Capital Funk" class="gw_orbit" />
    <div class="orbit-caption">
      Capital Funk
    </div>
  </li>
  <li>
    <img src="../assets/party.JPG" alt="Park" class="gw_orbit" />
    <div class="orbit-caption">
      <!-- ask mom about girl in glasses -->
    </div>
  </li>
  <li>
    <img src="../assets/group.jpg" alt="Group" class="gw_orbit" />
    <div class="orbit-caption">
      Lizzie, Alex, Sammy, Heather, Malorie and Carly
    </div>
  </li>
</ul>