<body>

  <div id="canvas"> </div>
    
<!-- Category and Idea Data for Bubble Visualization -->
  <script type="text/javascript">

    $(document).ready(function() {

      var visArray = [];
        
      <% @wishes.each do |wish| %>
        visArray.push( "<%= wish._type %>");
      <% end %>
      console.log(visArray);

      var wishCount =[];

      var current = null;
      var cnt = 0;
      for (var i=0; i< visArray.length; i++){
        if (visArray[i] !=current){
          if (cnt >0){
            console.log(current +"***"+cnt);
            wishCount.push({name: current, num:cnt});
          }
          current =visArray[i];
          cnt=1;
        }
        else{
          cnt++;
        }
      }
      if (cnt >0){
        console.log(current +"****" +cnt);
        wishCount.push({name: current, num: cnt});
      }
      var wishName =[];
      var wishNum = [];

      for(var l=0; l<wishCount.length; l++){
        wishName.push(wishCount[l].name);
        wishNum.push(wishCount[l].num);
      }

      console.log(wishName);
      console.log(wishNum);
      
      var vis = new SimpleVis("#canvas", wishNum);

      for(var j=0; j<7; j++){
        $('#bubble-'+k).tooltip({
          placement: 'auto',
          title: wishName[k]+ ":" + wishNum[k],
          trigger: 'hover'
        })
      }
  });

  </script>

</body>