<%= render partial: @nav %>
<div class="gw_head">
	<h1 class="gw_title">Yay Lizzie!</h1>
	<h2 class= "gw_subtitle">Congrats on Graduating!</h2>
</div>
<div class= "row gw_pics">
	<ul class="example-orbit gw_listPics" data-orbit>
	  <li>
	    <img src="../assets/grandma.jpg" alt="Grandma" class="gw_orbit" />
	    <div class="orbit-caption">
	      Sandpiper Juniors Medallion Presentation
	    </div>
	  </li>
	  <li>
	    <img src="../assets/highschoolgrad.jpg" alt="" class="gw_orbit" />
	    <div class="orbit-caption">
	      Mira Costa Graduation
	    </div>
	  </li>
	  <li>
	    <img src="../assets/img/examples/launch-orbit.jpg" alt="slide 3" class="gw_orbit" />
	    <div class="orbit-caption">
	      Caption Three.
	    </div>
	  </li>
	</ul>
</div>
