<%= render partial: @nav %>
<div class= "row gw_pics">
	<ul class="example-orbit gw_listPics" data-orbit>
	  <li>
	    <img src="../assets/grandma.jpg" alt="Grandma" />
	    <div class="orbit-caption">
	      Sandpiper Juniors Medallion Presentation
	    </div>
	  </li>
	  <li>
	    <img src="../assets/highschoolgrad.jpg" alt="" />
	    <div class="orbit-caption">
	      Mira Costa Graduation
	    </div>
	  </li>
	  <li>
	    <img src="../assets/img/examples/launch-orbit.jpg" alt="slide 3" />
	    <div class="orbit-caption">
	      Caption Three.
	    </div>
	  </li>
	</ul>
</div>