<%= render partial: @nav %>
<%= render partial: 'shared/header' %>
<div class="row gw_thanks">
	<div class= "gw_open">Special Thanks Goes Out To...</div>
	<div class=	"gw_thanksList">
		Christina Scamporrino for the beautiful design (Her portfolio can be found <a href="http://christinascamporrino.com">here</a>),
	</div>
	<div class="gw_thanksList">
		Jen Apprahamian for helping debug and helping to solve a lot of headaches,
	</div>
	<div class="gw_thanksList">
		Michele Larson for being willing to test out all the features so the broken ones could get fixed,
	</div>
	<div class="gw_thanksList">
		Theresa Luu for all her help, support and debugging abilities,
	</div>
	<div class="gw_thanksList">
		Shana Weitzen for her willingness to test everything and offer advice,
	</div>
	<div class="gw_thanksList">And Mama Kubz, Melissa, Malcolm, Alex and Sabine for finding all of the pictures.</div>
</div>