<%= render partial: @nav %>
<%= render partial: 'shared/header' %>
<div class="row gw_thanks">
	<div class= "gw_open">Special Thanks Goes Out To...</div>
	<div class=	"gw_thanksList">
		Christina Scamporrino for the beautiful design.  Her portfolio can be found <a href="http://christinascamporrino.com">Here</a>
	</div>
</div>