<div class="gw_footer">
	<div>This site was developed by Emilia <a href="egg"><img src="../assets/star.png" class="gw_star"></a><%#= link_to image_tag("../assets/star.png"), egg_url, {:class=>"gw_star"} %>
	<div class="gw_thanksLink">
		<%= link_to "See everyone who helped build this page!", thanks_url %>
	</div>
</div>