<div class="contain-to-grid fixed" id="user-widget">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
      	<%= @user.name %>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li><%= link_to "See All Notes", wishes_url %></li>
				<li><%= link_to "New", new_wish_url %></li>
      </ul>
    </section>
  </nav>
</div>