<nav class="topbar">
	<ul class="title-area">
		<li class="name">Congrats Lizzie!
		</li>
		<li class="toggle-topbar menu-icon">
			<a href="#">
				<span>Menu</span>
			</a>
		</li>
	</ul>
	<section class="top-bar-section">
		<ul class="right">
			<li><%= link_to "See All Notes", wishes_url %></li>
			<li><%= link_to "New", new_wish_url %></li>
		</ul>
	</section>
</nav>