<div class="contain-to-grid fixed" id="user-widget">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name gw_home">
        <%= link_to "Yay Lizzie!", root_url %>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li> <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %> </li>
      </ul>
    </section>
  </nav>
</div>