.bubble {
  display: block;
  position: absolute;
  border-radius: 100%;
}

.bubbleFill {
  position: absolute;
  display: block;
  border-radius: 100%;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  border-radius: 70px;
  opacity: .8;
  text-align: center;
}

.bubbleFill:hover {
  border: solid 4px white;
}

#canvas {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.gw_bubble{
  background-color: white;
  box-shadow: 2px 2px 2px 2px #888;
  text-align: center;
  margin-top: 2%;
  height: 300px;
}
.gw_showBub{
  margin-right: 5%;
  margin-left: 5%;
}
.gw_bubbleInfo{
  margin-right: 5%;
  margin: 5%;
}
.gw_wishCount{
  text-align: left;
  margin-top: 3%;
}