.gw_head{
	background-image: url("hero_background.jpg");
	height: 272px;
	text-align: center;
}
.gw_headLogo{
	height: 272px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}