.gw_logo{
	max-height: 45px;
	width: auto;
}
.gw_username{
	color: #741a89;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	margin-top: 10px;
	vertical-align: middle;
}
.gw_star{
	height: 15px;
	margin-bottom: 5px;
}
.top-bar-section li:hover a{
	text-transform: uppercase;
	font-weight: bold;

}
#sign_in{
	color: #741a89;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 19px;
}