.gw_secretHead{
	background-color:purple;
	height: 350px;
	padding-left: 5%;
	padding-right: 5%;
	color:white
}
.gw_heading{
	text-align: center;
	color: white;
}
.gw_new{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: -100px;
}
.gw_wish{
	padding-top: 120px;
	margin-top: -17px;
	box-shadow: 0 2px 2px 2px #888;
	background-color: white;
}
.gw_select{
	padding: 1%;
	background-color:white;
	width: 15%;
	text-align: center;
}
.gw_active{
	background-color: white;
	font-weight: bold;
}
.gw_inactive{
	background-color: #888;
}

.gw_example{
	border: 1px solid purple;
	text-transform: uppercase;
}
.gw_line{
	color: black;
}

.gw_newForm{
	text-transform: lowercase;
}