.gw_intro{
	margin: 1%;
}

.gw_secret{
	font-size: 3em;
	text-transform: uppercase;
	margin-bottom: 1px double black;
}

.gw_active{
	background-color: blue;
}

.gw_new{
	border: 1px solid black;
	margin: 2%;
	padding: 1%;
}

.gw_example{
	border: 1px solid black;
	padding: 0 1%;
}

.gw_paraExa{
	border: 1px solid black;
	padding: 1%;
	margin: 1%
}

.gw_newForm{
	border: 1px solid black;
	padding: 2%;
	margin:1%;
}