// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.gw_listPics{
	margin-right: auto;
	margin-left:	auto;
	height: 50%;
}
.gw_orbit{
	margin-right: auto;
	margin-left:	auto;
}
.gw_title{
	margin-right: auto;
	margin-left:	auto;
}
.gw_subtitle{
	margin-right:	auto;
	margin-left:	auto;
}