.gw_listPics{
	margin-right: auto;
	margin-left:	auto;
}
.gw_orbit{
	margin-right: auto;
	margin-left:	auto;
}
.orbit-prev{
	height:90px;
  width:45px;
  border-radius: 90px 0 0 90px;
  -moz-border-radius: 90px 0 0 90px;
  -webkit-border-radius: 90px 0 0 90px;
  background:gray;
}
.orbit-next{
	height:90px;
 	width:45px;
 	border-radius: 0 90px 90px 0;
 	-moz-border-radius: 0 90px 90px 0;
 	-webkit-border-radius:  0 90px 90px 0;
 	background:gray;
}
img{
	width: auto;
	height: 500px;
}
.gw_open{
	text-align: center;
	font-size: 38px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	margin-bottom: 2%;
}
.gw_welcome{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	margin: 5%;
}